<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
<header>
    <h1>Courses</h1>

    <nav>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/students}">Students</a>
        <a th:href="@{/courses}">Courses</a>
    </nav>
</header>

<main class="container">
    <div class="file-actions">
        <a class="button" th:href="@{/courses/export}">
            Download CSV
        </a>

        <form
            method="post"
            enctype="multipart/form-data"
            th:action="@{/courses/import}"
            class="import-form"
        >
            <input
                type="file"
                name="file"
                accept=".csv,text/csv"
                required
            >

            <button type="submit">Upload CSV</button>
        </form>
    </div>
</main>

<main class="container">
    <div class="page-heading">
        <h2>Available Courses</h2>
    </div>

    <div class="file-actions">
        <form method="get" th:action="@{/courses/search}" class="search-form">
            <label for="code">Course Code</label>
            <div class="search-row">
                <input
                    id="code"
                    name="code"
                    type="text"
                    placeholder="Search for a course code"
                    style="width: 200px;"
                >
                <button type="submit">Search</button>
            </div>
        </form>

        <a class="button" th:href="@{/courses/new}">
            Add Course
        </a>
    </div>

    <p class="success" th:if="${success}" th:text="${success}"></p>
    <p class="error" th:if="${error}" th:text="${error}"></p>

    <p th:if="${#lists.isEmpty(courses)}">
        No courses have been added.
    </p>

    <table th:unless="${#lists.isEmpty(courses)}">
        <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Description</th>
            <th>Credit Units</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="course : ${courses}">
            <td th:text="${course.code}"></td>
            <td th:text="${course.name}"></td>
            <td th:text="${course.description ?: '-'}"></td>
            <td th:text="${course.creditUnits}"></td>
        </tr>
        <tr class="table-total">
            <td></td>
            <td></td>
            <td><strong class="total">Total course credit units:</strong></td>
            <td><strong class="total" th:text="${totalCreditUnits}"></strong></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>